<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>wellcome to task dashboard</h1>
    <a href="dashboard"><input type="button" value="dashboard"></a>
    <a href="add_user"><input type="button" value="add_user"></a>
    <a href="logout"><input type="button" value="logout"></a>
    <br><br><br>

    <form method="post">
        <table>
            <tr>
                <td>select user:</td>
                <td>
                    <select name="user_id">
                        <option selected disabled>selsect user</option>
                        <% results.forEach(function(user){ %>
                        <option value="<%= user.id%>"><%= user.name%></option>
                        <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>task:</td>
                <td><input type="text" name="task"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="assign task">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>